.carousel-root {
  width: 100%;
  /* padding-top: 5px !important; */
  direction: initial;
}

.carousel.carousel-slider {
  height: 100% !important;
}

.dot {
  width: 10px !important;
  height: 5px !important;
  border-radius: 0.5rem !important;
  size: 16px !important;
  background-color: #00173833 !important;
  box-shadow: none !important;
  opacity: 1 !important;
  transition: width 0.1s ease-in-out !important;
}

.dot.selected {
  background-color: #001738 !important;
  width: 17px !important;
  height: 5px !important;
  border-radius: 0.5rem !important;
}

.carousel img {
  width: auto !important;
}

.slide {
  margin-bottom: 30px !important;
  transform: scale(0.9) !important;
  opacity: 0.5 !important;
  transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out !important;
}

.slide:hover {
  cursor: pointer !important;
}
.slide.selected {
  opacity: 1 !important;
  transform: scale(1) !important;
}
